* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/*
Figma:
https://www.figma.com/file/JrElHgvYfIhoxY5vaYdEii/2021-04-27-josh-comeau-css-huckleberry
*/

:root {
  /* Brand palette */
  --brand-primary: hsl(160deg, 100%, 30%);
  --brand-secondary-lighter: hsl(45deg, 100%, 50%);
  --brand-secondary-darker: hsl(45deg, 100%, 40%);
  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --gray-white: hsl(0deg, 0%, 100%);
  /* Semantic palette */
  --heading-bg: var(--brand-secondary-lighter);
  --heading-bg-accent: var(--brand-secondary-darker);
  --heading-text-color: var(--gray-black);
  --muted-bg: var(--gray-light);
  --muted-bg-accent: var(--gray-medium);
  --text-bg: var(--gray-white);
  --text-color: var(--gray-very-dark);
  --text-color-linked: var(--brand-primary);
  /* Layout */
  --site-max-width: 720px;
  --site-gutter: 24px;
  /* Shared properties */
  --accent-border-width: 8px;
}

/* Global */

/* Kludgy reset, so that all values are either
intentionally designed or visually broken */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.125rem;
  line-height: 1.4;
}

body {
  background: var(--muted-bg);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: var(--site-max-width);
}

/* Header section */

header {
  background: var(--text-bg);
  border-bottom: var(--accent-border-width) solid var(--muted-bg-accent);
}

.intro-chunk {
  padding: 96px var(--site-gutter) 64px var(--site-gutter);
}

.intro-chunk .title {
  font-size: 2rem;
  padding-bottom: 48px;
}

.intro-chunk p {
  color: var(--text-color);
  font-size: 1.25rem;
  line-height: 1.4;
  max-width: 18em;
}

.intro-chunk p + p {
  margin-top: 16px;
}

.intro-chunk strong {
  color: var(--text-color-linked);
}

/* Main section */

main {
  padding: 96px 0;
}

.card {
  background: var(--text-bg);
  border-bottom: var(--accent-border-width) solid var(--muted-bg-accent);
  padding: var(--site-gutter);
}

.card .indented-heading {
  --indent: 32px;
  background: var(--heading-bg);
  border-bottom: var(--accent-border-width) solid var(--heading-bg-accent);
  color: var(--heading-text-color);
  margin-top: calc(var(--indent) * -0.5);
  margin-left: calc(var(--indent) * -1);
  margin-bottom: 16px;
  padding: calc(var(--indent) * 0.5) var(--indent);
  width: fit-content;
}

.card p {
  color: var(--text-color);
}

.card p + p {
  margin-top: 16px;
}
